<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Bookmarks Manager{% endblock %}</title>
    <link rel="stylesheet" href="/static/styles.css"/>
  </head>
  <body class="bg-white">
    <header>
      <div class="flex justify-between p-4 mt-3 align-middle border-b-2 border-indigo-400 lg:container lg:mx-auto">
        <div id="branding">
          <h1 class="text-2xl font-semibold tracking-wide text-indigo-900 uppercase">
            <a href="/">Bookmarks Manager</a>
          </h1>
        </div>
        <div id="menu">
          <ul class="flex m-1 align-middle justify-evenly">
	    <!-- TODO: Fix active link CSS based on page -->
            <li class="px-2 hover:text-indigo-600"><a href="/add">Add</a></li>
            <li class="px-2 hover:text-indigo-600"><a href="/search">Search</a></li>
          </ul>
        </div>
      </div>
    </header>
    {% block content %} {% endblock %}
  </body>
</html>
